<div class="decoder-section">
  <h2>Deszyfrator fal radiowych</h2>
  @if (!completed) {
    <app-decoder-form></app-decoder-form>
  }
</div>
<div class="decoder-section">
  <h2>Status
    @if (completed) {
      <span class="status status-completed">rozkodowany</span>
    } @else {
      <span class="status status-incompleted">zakodowany</span>
    }
  </h2>
  <app-decoder-feedback-list></app-decoder-feedback-list>
</div>
