<h1>Destruction Room</h1>

<div class="control-group">
  <label class="control-label">Statek:</label>
  <select [formControl]="shipIndexControl">
      <option [ngValue]="null">Wybierz statek</option>
      @for (ship of spaceShips | async; track ship; let i = $index) {
        <option [ngValue]="i">{{ i+1 }}. {{ ship.modelName }}</option>
      }
  </select>
</div>

<div class="control-group">
  <button type="button" (click)="orderDestruction()">Utylizuj</button>
</div>
