:host {
  display: inline-block;
  max-width: 130px;
  margin: 10px;
  text-align: center;
  vertical-align: top;
}

img {
  max-width: 100%;
}

.images {
  position: relative;
}

.images .pilot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}

.health {
  background-color: red;
  height: 10px;
}

.health div {
  background-color: green;
  height: 100%;
}

.property {
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  color: grey;
}

.property.active {
  color: white;
}
