  <div class="hangar-section">
    <h1>Hangar</h1>
    @for (spaceShip of spaceShips | async;  track spaceShip) {
      <app-space-ship [spaceShip]="spaceShip">
        @if (spaceShip.pilot) {
          <button (click)="dismissPilot(spaceShip)">Opuść</button>
        } @else if (selectedPilot) {
          <button (click)="assignPilot(spaceShip)">Pilotuj</button>
        }
      </app-space-ship>
    }
  </div>
  <div class="hangar-section">
    <app-pilot-room (selected)="setSelectedPilot($event)"></app-pilot-room>

    <div class="sub-nav">
      <a routerLink="production" routerLinkActive="active">Production</a>
      &nbsp;
      <a routerLink="destruction" routerLinkActive="active">Destruction</a>
    </div>
    <router-outlet></router-outlet>
  </div>
