<p class="key">
  #{{index}}: <span>{{result.key}}</span>
</p>
@for (i of result.correctPositionCount | numberToArray; track i) {
  <app-decoder-light color="green"></app-decoder-light>
}
@for (i of result.correctOccurrenceCount | numberToArray; track i) {
  <app-decoder-light color="orange"></app-decoder-light>
}
@for (i of result.incorrectCount | numberToArray; track i) {
  <app-decoder-light color="red"></app-decoder-light>
}
