<nav>
  <a routerLink="space" routerLinkActive="active">Hangar</a>
  <a routerLink="intel" routerLinkActive="active">Intel Browser</a>
  <a routerLink="photo-browser" routerLinkActive="active">Photo Browser</a>
  <a routerLink="planet-detector" routerLinkActive="active">Planet Detector</a>
  <a routerLink="radio" routerLinkActive="active">Radio Decoder</a>
</nav>

<router-outlet></router-outlet>

<a2s-comm></a2s-comm>
