<form #form="ngForm" (ngSubmit)="decode(form.value.key)">
  <input type="text" ngModel name="key" [pattern]="keyPattern" required autocomplete="off">
  <button type="submit" [disabled]="form.invalid">Dekoduj</button>
  @if (form.invalid && form.dirty) {
    <div class="error">
      <p>Niepoprawny format klucza.</p>
      <ul>
        <li>Wymagana długość to {{keyLength}}</li>
        <li>Dozwolone znaki to {{keyChars}}.</li>
      </ul>
    </div>
  }
</form>
