@for (photo of photos | async; track photo) {
  <img [src]="photo.url_l" [alt]="photo.title">
}

<div>
  @if (canLoadMore | async) {
    <button type="button" (click)="loadMore()">Hack More!</button>
  }
</div>

