<h1>Intel Browser</h1>

<p>
  Wybierz źródło danych wywiadowczych:
  <select [formControl]="urlControl">
    <option value="">wybierz</option>
    @for (url of urls(); track url) {
      <option [value]="url">{{url}}</option>
    }
  </select>
  @if (currentUrl()) {
    <button type="button" (click)="removeCurrentUrl()">Zlikwiduj</button>
  }
  <button type="button" (click)="addUrl()">Utwórz</button>
</p>

@if (trustedCurrentUrl(); as url) {
  <iframe [src]="url"></iframe>
}
