<h1>{{form.value.id ? 'Edycja pilota' : 'Dodawanie pilota'}}</h1>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="control-group">
    <label class="control-label">Imię:</label>
    <input type="text" [formControl]="form.controls.firstName">

    @if (form.controls.firstName.hasError('titleCase')) {
      <span class="error">zacznij wielką literą</span>
    }
  </div>

  <div class="control-group">
    <label class="control-label">Nazwisko:</label>
    <input type="text" [formControl]="form.controls.lastName">

    @if (form.controls.lastName.hasError('forbiddenName')) {
      <span class="error">zakazane nazwisko</span>
    }
  </div>

  <div class="control-group">
    <label class="control-label">Avatar URL:</label>
    <input type="text" [formControl]="form.controls.imageUrl">
  </div>

  <div class="control-group">
    <label class="control-label">Podgląd:</label>
    <img [src]="form.value.imageUrl">
  </div>

  <button type="submit" [disabled]="form.invalid">Zapisz</button>
  <button type="button" routerLink="../..">Anuluj</button>
</form>
